@font-face {
    font-family: 'neutrobold';
    src: url('../fonts/NeutroBold.eot');
    src: url('../fonts/NeutroBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeutroBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  