@font-face {
  font-family: 'modernist';
  src: url('../fonts/sk-modernist-bold-webfont.woff2') format('woff2'),
       url('../fonts/sk-modernist-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'modernist';
  src: url('../fonts/sk-modernist-mono-webfont.woff2') format('woff2'),
       url('../fonts/sk-modernist-mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'modernist';
  src: url('../fonts/sk-modernist-regular-webfont.woff2') format('woff2'),
       url('../fonts/sk-modernist-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

$fontPrimary: 'modernist';
$color-principal: #06EAD4; 

@mixin item-serv {
    background-blend-mode: overlay;
    background-color: #233d50;
    background-size: cover;
    width: 28%;
    height: 450px;
    color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: -9px -2px 14px rgba(0,0,0,0.15);
    transition: 1s;
    &:hover {
        transform: scale(1.1);
        transition: 1s;
        box-shadow: 0 10px 25px rgba(161, 161, 161, 0.5);
    }
}

@mixin title {
    font-family: $fontPrimary;  
    font-size: 4em;
    font-weight: 900;
    color: #ffffff; 
    // -webkit-text-fill-color: transparent;
    // -webkit-text-stroke-width: 1px;
    text-align: center;
}
@mixin subtitle {
    font-size: 18px;
    font-weight: 600;
    color: $color-principal;  
    margin-left: 20px;
    bottom: 0;
    line-height: 0;
    text-align: center;
}

@mixin btn {
  border-radius: 50px;
  background-color: $color-principal;  
  color: #0f0d1f;
  transition: 0.3s;
  margin: 15px 0;
  &:hover {
    outline: solid 2px $color-principal;
    color: $color-principal;
    background-color: transparent;
    transition: 0.3s;
  }
  &:focus {
    outline: solid 2px $color-principal;
    color: $color-principal;
    background-color: transparent;
    transition: 0.3s;
  }
}